body {
  margin: 2px;
  font: 12px Arial, Helvetica, sans-serif;
}

.App {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px;
  min-height: 100vh;
}

.header {
  background: url(../src/assests/imgs/logobg.jpg) repeat-x;
  height: 102px;
  border-bottom: 1px solid #435b8b;
}
.logo {
  background: url("https://online.msbte.co.in/msbte23/assets/images/logo.jpg")
    no-repeat 10px top;
  height: 102px;
  float: left;
  width: 585px;
}
.logo a {
  width: 585px;
  overflow: hidden;
  display: block;
  text-indent: -9999999px;
}

/* Forms */
.css-11qr2p8-MuiButtonBase-root-MuiButton-root {
  font-size: 0.7rem !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
}

.css-1izfg5m {
  width: 100% !important;
}

/* react toastify css */
.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: #f0f0f0;
  font-weight: 700;
  font-size: 1.2rem;
}

/* Search List CSS */
.searchListTableBody tr td {
  text-align: center;
}

.searchListTableHead tr th {
  text-align: center;
  font-weight: bold;
}

.searchListTableFooter > tr > .text-end {
  font-weight: bold;
}
